.box1{
    background-color: #1a5f71; 
    height: 120px;
}

.box2{
    background-color: #002B5B;
    height: 60px;

}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white
}