.titulo{
    color: purple;
    text-align: center;
}

.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.botaoMouse{
    border-color: "white";
    background-color: "white";
    color: "black" 
}

.botaoMouse:hover{
    background-color: black
}

/* #57C5B6   borderColor: "white", backgroundColor: "#57C5B6", color: "white" */

.caixa{
    background-color: #159895;
}

.titulo{
    color: white;
    font-weight: "bold";
}

.postagens{
    background-color: "white" 
}
